doctype html
html(lang="en")
   include head.pug
      title Home
   body
      header
         include nav.pug

      main
         h1 Hello world!
         h2 My name is #{name}
         button(id="showVideo") Funny video
         iframe(width="560" height="315" src=url title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen id="video" class="hide")

      script(src="/script.js") 